## Visual Studio Build Outputs & Build Directories
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bbin/
bin/
obj/

## Visual Studio Cache, Tooling, & User Files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Rider / JetBrains IDEs
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows OS Specific
Thumbs.db
ehthumbs.db
Desktop.ini
